In [1]:
# 주석은 #을 쓴다.
# 숫자, 문자열, bool, 리스트, 튜플

# type() = 데이터의 타입을 확인하는 (내장)함수

In [2]:
print(type('Hello!!!'))

<class 'str'>

In [3]:
print(type(3))

<class 'int'>

In [6]:
print(type(True))

<class 'bool'>

In [7]:
print(type(3.14))

<class 'float'>

In [8]:
# str: 문자열 생성은 "" 혹은 ''로 만든다
# \(역슬래시) 문자를 통해서 \" \' \t \n

In [10]:
print("\"안녕하세요.\" \n \'정\t성균\' 입니다.") # 순서: 큰따옴표 넣기, 개행, 작은따옴표 넣기, 탭 간격 띄우기

"안녕하세요."
 '정	성균' 입니다.

In [11]:
print("""안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.""") # 큰따옴표를 3개 안에 텍스트를 넣으면 입력한대로 개행이 된다.

안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.

In [12]:
print("""
안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.
""") # 가독성을 위해 위,아래에 엔터로 입력했는데 원치않는 개행을 처리할 경우 역슬래시를 입력해준다.

안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.

In [13]:
print("""\
안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.\
""")

안녕하세요.
저는 정성균입니다.
프로그램을 공부하고 있습니다.
취업을 해야합니다.

In [14]:
print('안녕' + '하세요.')

안녕하세요.

In [15]:
print('안녕' + 10) # print('안녕' + '10') 이렇게 변경

TypeError: can only concatenate str (not "int") to str

In [22]:
print('안녕하세요\n' * 5)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [23]:
# str => 문자들의 집합
# 인텍식 사용 가능! => 배열의 인덱스처럼 사용 가능
# 인덱스: 0 ~ N-1까지

In [27]:
print('안녕하세요.'[0])
print('안녕하세요.'[1])
print('안녕하세요.'[2])
print('안녕하세요.'[3])
print('안녕하세요.'[4])
print('안녕하세요.'[5])
print('안녕하세요.'[6])

안
녕
하
세
요
.

IndexError: string index out of range

In [30]:
print('안녕하세요.'[-1])
print('안녕하세요.'[-2])
print('안녕하세요.'[-3])
print('안녕하세요.'[-4])
print('안녕하세요.'[-5])
print('안녕하세요.'[-6])

.
요
세
하
녕
안

In [31]:
# [] => 스라이싱: 범위 선택 가능!
# [시작인덱스:종료인덱스위치] => 종료인덱스는 출력되지 않는다! 종료인덱스 -1까지 출력됨!
# 시작 인덱스를 생략하는 경우: [ :4] => 0부터 3까지 출력
# 종료 인덱스를 생략하는 경우: {2: } => 2부터 끝까지 출력

In [32]:
print('안녕하세요.'[1:4])

녕하세

In [33]:
print('안녕하세요.'[:4])

안녕하세

In [34]:
print('안녕하세요.'[2:])

하세요.

In [35]:
# 숫자 타입
# 정수: int, 실수: float
# 기본 사칙연산: + , - , * , / , %
# 정수 나누기: //
# 제곱 연산: **

In [38]:
print(1 + 2)
print(10 / 3)
print(10 // 4) # 결과를 정수로 반환, 소수점을 버림
print(3**3) # 제곱

3
3.3333333333333335
2
27

In [39]:
# 변수의 사용
# 변수 = 데이터   이렇게 대입 해 주면 된다.
# 복합 대입 연산자 사용 가능

In [40]:
pi = 3.14
r =2

In [41]:
print('원주율 => ', pi, '반지름 => ', r)

원주율 =>  3.14 반지름 =>  2

In [42]:
# 캐스팅 함수
# 문자열 => 정수 : int()
# 문자열 => 실수 : float()
# 숫자 => 문자열 : str()

In [43]:
# 문자열을 다루는 함수
# format()
# upper()  lower()
# strip()  lstrip()  rstrip()
# find()
# split()
# is000
# in 연산자

In [54]:
# format: 문자열 포맷팅
a = 200
format_a = '{} 만원'.format(a)
format_b = '{} {} {} {}'.format(a, 400, 'string', True)

In [49]:
print(format_a)

200 만원

In [55]:
print(format_b)

200 400 string True

In [60]:
# strip
str1 = '   hello   '
print('###' + str1 + '###')
print('###' + str1.strip() + '###')
print('###' + str1.lstrip() + '###')
print('###' + str1.rstrip() + '###')

###   hello   ###
###hello###
###hello   ###
###   hello###

In [63]:
# find() : 문자열을 포함하는 위치 인덱스(문자열의 시작 인덱스)를 반환
result1 = '안녕하세요.'.find('하세요')
print(result1)

2

In [66]:
# split(): 문자열을 첨자로 나누고 각 나누어진 결과를 리스트로 반환
list_1 = '1 2 3 4 5 6 7 8 9'.split(' ')
print(type(list_1), list_1)

<class 'list'> ['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [71]:
# is000 : 문자열의 구성 파악
print('test123'.isalnum()) # is => 이니? , al => 알파벳 , num => 숫자
print('test123!@#'.isalnum())
print('1000'.isdigit()) # 해당 문자열을 숫자화 할 수 있니?
print('1000원'.isdigit())

True
False
True
False

In [72]:
# in 연산자
print('안' in '안녕하세요')
print('안영' in '안녕하세요')

True
False

In [76]:
# 흐름제어
# if

num1 = input('정수 입력 >>> ') # input 함수는 문자열을 반환한다.
num2 = int(num1)

if num2 > 0 :
    print('양수')

if num2 < 0 :
    print('음수')
    
if num2 == 0 :
    print('0')

정수 입력 >>> -5
음수

In [80]:
# 흐름제어
# if , elif , else

num1 = input('정수 입력 >>> ') # input 함수는 문자열을 반환한다.
num2 = int(num1)

if num2 > 0 :
    print('양수')
elif num2 < 0 :
    print('음수')
else :
    print('0')

5
양수

In [81]:
# 0은 False

if 0 :
    print('0은 True')
else :
    print('0은 False')

0은 False

In [82]:
# 공백 문자열은 False

if "" :
    print('공백 문자열은 True')
else :
    print('공백 문자열은 False')

공백 문자열은 False

In [83]:
# 비어있는 리스트(배열)은 False

if [] :
    print('비어있는 리스트는 True')
else :
    print('비어있는 리스트는 False')
    
# None : 함수에서 반환 값이 없을 때 반환되는 값 => False

비어있는 리스트는 False

In [84]:
# pass 키워드 미 적용하고 작업을 비워둘 경우 => 에러 발생!!!!

num3 = 10
if num3 > 0 :
    
else :

IndentationError: expected an indented block (269924029.py, line 6)

In [85]:
# 위는 에러가 나지만 pass 키워드를 넣으면 오류 발생 안함!!!
# pass 키워드

num3 = 10
if num3 > 0 :
    pass
else :
    pass

In [92]:
# list 자료형 : 배열과 비슷한 형태, 집합과 같이 데이터들을 묶어서 사용
# 데이터들의 타입은 일치하지 않아도 된다.
# [] 사용, 인덱스값을 통해서 참조

list_temp = [10, 900, 55, '문자열', True, False]

print(list_temp[2])
print(list_temp[3])
print(list_temp[3][1], list_temp[3][:2])

if list_temp[-2] :
    print('참')
    list_temp[-2] = False
    
print(list_temp)

55
문자열
자 문자
참
[10, 900, 55, '문자열', False, False]

In [94]:
# list 연산: + , - , * , / ,

In [110]:
# + 연산: 리스트의 연결 => 새로운 리스트 생성 <= 원본은 바뀌지 않는다.
list_a = [1, 2, 3]
list_b = [4, 5, 6]

print(list_a + list_b)
print(list_a)
print(list_b)
print('list_a 리스트의 요소의 개수 => ', len(list_a))

# 함수: len() , extend() , append() , insert() , del() , remove() , clear()

list_a.append(4)
print('.append(4) 요소 추가 => ', list_a)

list_a.insert(0, 10) # 0번지에 10을 넣는다.
print('.insert(0, 10) 0번지에 10을 추가 => ', list_a)

list_b.extend([100, 500, 874])
print('원본 리스트에 데이터를 추가 => ', list_b)

del list_b[4] # 4번지 삭제
print(list_b)

list_b.pop(4) # 4번지 삭제
print('.pop(4)로 삭제 => ',list_b)

list_b.remove(100) # 값이 100인것 제거
print('삭제 remove', list_b)

list_c = [1,2,3,4,5,6,7,8,9]
del list_c[1:3] # 1번지, 2번지 값 삭제
print(list_c)

del list_c[:3] # 0~2번지 값 삭제
print(list_c)

list_c.clear()
print('전체 삭제 clear() => ', list_c)

print(5 in list_b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
list_a 리스트의 요소의 개수 =>  3
.append(4) 요소 추가 =>  [1, 2, 3, 4]
.insert(0, 10) 0번지에 10을 추가 =>  [10, 1, 2, 3, 4]
원본 리스트에 데이터를 추가 =>  [4, 5, 6, 100, 500, 874]
[4, 5, 6, 100, 874]
.pop(4)로 삭제 =>  [4, 5, 6, 100]
삭제 remove [4, 5, 6]
[1, 4, 5, 6, 7, 8, 9]
[6, 7, 8, 9]
전체 삭제 clear() =>  []
True

In [112]:
# for 반복문

for i in range(5): # 0~4까지 반복
    print(i)
    
for item in list_b:
    print(item)

0
1
2
3
4
4
5
6

In [2]:
# 딕셔너리: 리스트처럼 데이터를 묶음으로 저장
# 저장: key, value 형식으로 저장
# 참조: key값으로 참조

dic_a = {}
print(type(dic_a), dic_a)

<class 'dict'> {}

In [6]:
dic_b = {1,2,3,4,5,1,2,3}
list_a1 = [1,2,3,4,5,1,2,3]
print(list_a1) # 리스트의 데이터는 중복되지만,
print(dic_b) # 딕셔너리의 데이터는 중복되지 않는다.

[1, 2, 3, 4, 5, 1, 2, 3]
{1, 2, 3, 4, 5}

In [9]:
dic_c = {
    'no' : 7,
    'name' : '손흥민',
    'position' : '스트라이터'
}
print(dic_c)
print(dic_c['no'])
print(dic_c['name'])
print(dic_c['position'])

{'no': 7, 'name': '손흥민', 'position': '스트라이터'}
7
손흥민
스트라이터

In [10]:
dic_c['team'] = '토트넘' # 요소(키+값) 추가
print(dic_c)

{'no': 7, 'name': '손흥민', 'position': '스트라이터', 'team': '토트넘'}

In [12]:
del dic_c['team']
print(dic_c)

{'no': 7, 'name': '손흥민', 'position': '스트라이터'}

In [14]:
print(dic_c['team'])

KeyError: 'team'

In [15]:
print(dic_c.get('team'))

None

In [16]:
key = 'name'
if key in dic_c :
    print(dic_c[key])
else :
    print("존재하지 않는 key")

손흥민

In [17]:
key = 'team'
if key in dic_c :
    print(dic_c[key])
else :
    print("존재하지 않는 key")

존재하지 않는 key

In [19]:
playerName = dic_c.get('team')
print(playerName)
if playerName == None :
    print('존재하지 않는 Key!')

None
존재하지 않는 Key!

In [21]:
for key in dic_c : #dic_c의 키 리스트를 출력!!!
    print(key, dic_c[key])

no 7
name 손흥민
position 스트라이터

In [22]:
# range() : 특정 범위의 숫자를 생성
# range(n) : 0부터 n-1까지 범위의 숫자 생성
# range(index, n, step) : index ~ n-1, step만큼 증가

In [31]:
a = range(1, 10+1, 3)
print(type(a), a)

list_b = list(a)
print(list_b)

for i in a:
    print(i)

<class 'range'> range(1, 11, 3)
[1, 4, 7, 10]
1
4
7
10

In [33]:
list_c = [1,7,11,99,54, 26]

cnt = 0

for item in list_c :
    cnt += 1
    print(item, cnt)

1 1
7 2
11 3
99 4
54 5
26 6

In [34]:
for i in range(len(list_c)) :
    print(i+1, list_c[i])

1 1
2 7
3 11
4 99
5 54
6 26

In [35]:
for i in range(5, 0, -1) :
    print(i)

5
4
3
2
1

In [37]:
for i in reversed(range(1, 5+1)) :
    print(i)

5
4
3
2
1

In [40]:
# while : 반복문 => 조건의 결과를 True로 하는 경우 사용

i = 0
while i<5 :
    print(i)
    i += 1

0
1
2
3
4

In [42]:
list_d = [1,2,1,2,]
print(list_d)
# list_d.remove(1) # 첫번째 발견한 값1만 지운다

while 1 in list_d :
    list_d.remove(1)

print(list_d)

[1, 2, 1, 2]
[2, 2]

In [43]:
# 함수 : input -> 처리 -> return
# 매개변수 처리 -> 가변 매개변수, 매개변수의 기본값
# def 함수이름() : ... return

In [44]:
def print_3() :
    print('안녕!!!')
    print('안녕!!!')
    print('안녕!!!')
    
print_3()

안녕!!!
안녕!!!
안녕!!!

In [45]:
def print_times(value, n) :
    for i in range(n) :
        print(value)
        
print_times('안녕하십니까불이~', 5)

안녕하십니까불이~
안녕하십니까불이~
안녕하십니까불이~
안녕하십니까불이~
안녕하십니까불이~

In [50]:
def print_n_times(n, *values) :
    for i in range(n) :
        for value in values :
            print(value)
        print('-------')
        
print_n_times(3, 'a', 'b', 'c')

a
b
c
-------
a
b
c
-------
a
b
c
-------

In [52]:
def print_n_times(*values, n=2) :
    for i in range(n) :
        for value in values :
            print(value)
        print('-------')
        
print_n_times('a', 'b', 'c', 5) # 이렇게 하면 모두 가변 매개변수가 됨으로!! 아래와 같이 표기한다.
print_n_times('a', 'b', 'c', n=5)

a
b
c
5
-------
a
b
c
5
-------
a
b
c
-------
a
b
c
-------
a
b
c
-------
a
b
c
-------
a
b
c
-------

In [56]:
def test(a, b=100, c=100) :
    print(a+b+c)

test(10)
test(10,20,30)
test(c=10, b=100, a=500)

210
60
610

In [62]:
def sum_all(start=0, end=100, step=1) :
    output = 0
    
    for i in range(start, end+1, step) :
        output += i
        
    return output

print(sum_all())
print(sum_all(end=10))
print(sum_all(end=100, step=2))

5050
55
2550